.merge-board-cell {
    background: green;
    aspect-ratio: 1;
    border: 1px solid transparent;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        border: 1px solid blue;
    }

    &--drop-target {
        border: 1px solid red;
    }

    &--dragging {
        opacity: 0.3;
    }

}