.merge-board-cell {
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    width: 64px;
    height: 64px;
    transition: filter 200ms ease;

    &:hover {
        cursor: pointer;
        filter: brightness(120%);
    }

    &--drop-target {
        filter: brightness(120%);
        .merge-board-cell__item, .merge-board-cell__bubble {
            transform: translate(-8px, -8px) scale(1.05);
        }
    }

    &__background {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-size: 200% 100%;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-image: url('public/images/BoardBackground.webp');

        &--odd {
            background-position: 100% 0%;
        }
    }
    

    &--dragging {
        opacity: 0.3;

        &:before {
            opacity: 0.3;
        }
    }

    &__bubble, &__item {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform 400ms ease;

    }

    &__bubble {
        background-position: center -80%;
        background-size: 150%;
        background-image: url('public/images/Bubble.webp');
    }

    &__item {
        &--bubble {
            opacity: 0.8;
        }

        &--hidden {
            opacity: 0.5;
        }
    }

    &__selection-indicator {
        width: 95%;
        height: 95%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &__tl, &__tr, &__bl, &__br {
            position: absolute;
            width: 25%;
            height: 25%;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-direction: alternate-reverse;
            z-index: 900;
        }

        $border-thickness: 4px;
        $border-radius: 5px;
        $border-color: #ecebc9;
        $shadow-color:#6c4756;
        
        &__tl {
            top: 0;
            left: 0;
            border-top: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
            border-top-left-radius: $border-thickness;
            filter: drop-shadow(2px 2px #6c4756);
            animation-name: float-tl;
        }

        &__tr {
            top: 0;
            right: 0;
            border-top: $border-thickness solid $border-color;
            border-right: $border-thickness solid $border-color;
            border-top-right-radius: $border-thickness;
            filter: drop-shadow(-2px 2px #6c4756);
            animation-name: float-tr;
        }

        &__bl {
            bottom: 0;
            left: 0;
            border-bottom: $border-thickness solid $border-color;
            border-left: $border-thickness solid $border-color;
            border-bottom-left-radius: $border-thickness;
            filter: drop-shadow(2px -2px #6c4756);
            animation-name: float-bl;
        }

        &__br {
            bottom: 0;
            right: 0;
            border-bottom: $border-thickness solid $border-color;
            border-right: $border-thickness solid $border-color;
            border-bottom-right-radius: $border-thickness;
            filter: drop-shadow(-2px -2px #6c4756);
            animation-name: float-br;
        }
    }

    &__icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__icon {
            filter: drop-shadow(2px 2px 2px #000);
        }
    }
}

$float-amount: 1.5px;
$floated-opacity: 0.8;

@keyframes float-tl {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(-$float-amount, -$float-amount);
        opacity: $floated-opacity;
    }
}

@keyframes float-tr {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate($float-amount, -$float-amount);
        opacity: $floated-opacity;
    }
}

@keyframes float-bl {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(-$float-amount, $float-amount);
        opacity: $floated-opacity;
    }
}

@keyframes float-br {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate($float-amount, $float-amount);
        opacity: $floated-opacity;
    }
}