html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    min-width: 1470px;
    padding: 24px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}