.add-cell-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__icon {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 8px;
    }
}

.add-cell-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &__image {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-right: 8px;
    }
}